@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#paper-astrology-radix-signs-0,
#paper-astrology-radix-signs-4,
#paper-astrology-radix-signs-8 {
	fill: #f87171;
	stroke: #f87171;
	stroke-width: 1px;
}

#paper-astrology-radix-signs-1,
#paper-astrology-radix-signs-5,
#paper-astrology-radix-signs-9 {
	fill: #86efac;
	stroke: #86efac;
	stroke-width: 1px;
}

#paper-astrology-radix-signs-2,
#paper-astrology-radix-signs-6,
#paper-astrology-radix-signs-10 {
	fill: #fdba74;
	stroke: #fdba74;
	stroke-width: 1px;
}

#paper-astrology-radix-signs-3,
#paper-astrology-radix-signs-7,
#paper-astrology-radix-signs-11 {
	fill: #67e8f9;
	stroke: #67e8f9;
	stroke-width: 1px;
}

#paper-astrology-radix-circles circle {
	stroke: #ffffff;
}

#paper-astrology-radix-axis g path {
	stroke: #ffffff;
}

#paper-astrology-radix-axis line {
	stroke: #ffffff;
}
