:root {
  --purple: #390A5D;
  --deep-purple: #1F0234;
  --white: #ffffff;
}
body {
  background-color: var(--purple);
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
}

.quick-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
}

.view-all-button {
  width: 100%;
  padding: 16px;
  text-align: center;
}