.note-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 16px;
}
.note-card {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.note-card:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: auto;
}

.icons .svg-inline--fa {
    color: lightgrey;
    height: 12px;
}
